.dataview {
    overflow: hidden;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index:1000; /* to hide static labels outside map */
    background-color: white; /* to hide static labels outside map*/

    .nav_bar {
        width: 100%;
        background-color: #f0f0f0;
        overflow-x: auto;
        transform: rotateX(180deg);

        ul {
          transform: rotateX(180deg);
          list-style-type: none;
          white-space: nowrap;
          display: flex;

          li {
            padding: 10px;
            border-right: 1px solid #333;
          }

          li:hover {
            cursor: pointer;
          }

          li.active {
            background-color: #fff;
          }
        }

    }

    .tab-content {
      height: 100%;
      overflow-x: auto;
    }

}